<article class="bg-[url('/img/PIA26276-large.jpg')] bg-cover h-full bg-center">
  <div
    class="border-solid divide-slate-50 bg-slate-800/80 text-slate-50 p-5 max-w-md absolute bottom-20 left-10"
  >
    <h2>The Infrared Face of the Andromeda Galaxy</h2>
    <p>
      This image from NASA's retired Spitzer Space Telescope highlights the
      stars and dust clouds in the Andromeda galaxy. One of Earth's nearest
      galactic neighbors, Andromeda spans a swath of sky nearly 3.8 degrees
      across, which is close to the width of eight full Moons lined up side by
      side. The area around the galaxy includes data from NASA's Wide-field
      Infrared Survey Explorer (WISE).
    </p>
    <p>
      Spitzer observed infrared light, a range of wavelengths longer than what
      human eyes can detect. In this image, starlight glows blue and cyan
      (representing infrared wavelengths of 3.6 and 4.5 microns). Dust dominates
      the galaxy in red (8 microns). The longest wavelength detected by Spitzer
      (24 microns) gives an indication of the dust's temperature and is
      represented in green; it combines with the red to create orange and
      yellow, indicating regions where stars are forming.
    </p>
    <p>
      <a href="https://photojournal.jpl.nasa.gov/catalog/PIA26276">Source</a>
    </p>
  </div>
</article>

<style>
  article {
    @apply bg-[url('/img/PIA26276-large.jpg')];
    @applybg-cover;
    @apply h-full;
    @apply bg-center;
  }

  div {
    @apply border-solid;
    @apply divide-slate-50;
    @apply bg-slate-800/80;
    @apply text-slate-50;
    @apply p-5;
    @apply max-w-md;
    @apply absolute;
    @apply bottom-20;
    @apply left-10;
  }
</style>
