---
import { getCollection } from "astro:content";
import Base from "@/layouts/Base.astro";
---

<Base title="content">
    <div class="mt-6 ml-6 w-full max-w-xs">
      <form class="divide-slate-50 bg-slate-800/80  text-slate-50shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
          <label class="block text-sm font-bold mb-2" for="search">
            Search
          </label>
          <input class="shadow border rounded w-full py-2 px-3 text-gray-700 " id="search" type="text">
        </div>
        <div class="flex items-center justify-between">
          <button class="bg-black hover:bg-gray-500 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
            Search
          </button>
        </div>
      </form>
    </div>
  <div class="grid grid-cols-3 gap-4 p-6">
    TODO
  </div>
</Base>
