---
interface Props {
  image: string;
}

const { image } = Astro.props;
const urlImage = `url('${image}')`;
---

<article>
  <div>
    <slot />
  </div>
</article>

<style define:vars={{ urlImage }}>
  article {
    /* warning: use background-image instead of bg-[] */
    background-image: var(--urlImage);
    @applybg-cover;
    @apply h-full;
    @apply bg-center;
  }

  div {
    @apply border-solid;
    @apply divide-slate-50;
    @apply bg-slate-800/80;
    @apply text-slate-50;
    @apply p-5;
    @apply max-w-md;
    @apply absolute;
    @apply bottom-20;
    @apply left-10;
  }
</style>
